M -2369 245 -2354 230 -1 75
M -2369 242 -2357 230 -1 75
M -2309 125 -2309 293 -1 75
M -2306 125 -2306 293 -1 75
M -2354 167 -2354 170 -1 75
M -2354 230 -2354 200 -1 75
M -2357 230 -2357 203 -1 75
M -2414 242 -2369 242 -1 75
M -2414 245 -2369 245 -1 75
M -2357 203 -2426 203 -1 75
M -2354 170 -2414 170 -1 75
M -2354 200 -2429 200 -1 75
M -2354 167 -2414 167 -1 75
M -2513 248 -2474 248 -1 75
M -2474 248 -2474 245 -1 75
M -2474 245 -2513 245 -1 75
M -2531 230 -2513 248 -1 75
M -2513 245 -2528 230 -1 75
M -2426 230 -2414 242 -1 75
M -2429 230 -2414 245 -1 75
M -2414 170 -2426 182 -1 75
M -2414 167 -2429 182 -1 75
M -2531 185 -2531 230 -1 75
M -2513 167 -2531 185 -1 75
M -2474 167 -2513 167 -1 75
M -2528 230 -2528 185 -1 75
M -2474 170 -2474 167 -1 75
M -2528 185 -2513 170 -1 75
M -2513 170 -2474 170 -1 75
M -2636 248 -2591 248 -1 75
M -2651 233 -2636 248 -1 75
M -2591 248 -2573 230 -1 75
M -2573 230 -2573 167 -1 75
M -2651 248 -2651 233 -1 75
M -2654 248 -2651 248 -1 75
M -2576 167 -2573 167 -1 75
M -2576 230 -2576 167 -1 75
M -2654 167 -2654 248 -1 75
M -2654 167 -2651 167 -1 75
M -2591 245 -2576 230 -1 75
M -2636 245 -2591 245 -1 75
M -2651 167 -2651 230 -1 75
M -2651 230 -2636 245 -1 75
M -2762 242 -2717 242 -1 75
M -2762 245 -2717 245 -1 75
M -2717 242 -2705 230 -1 75
M -2774 230 -2762 242 -1 75
M -2717 245 -2702 230 -1 75
M -2777 230 -2762 245 -1 75
M -2705 203 -2774 203 -1 75
M -2705 230 -2705 203 -1 75
M -2762 170 -2774 182 -1 75
M -2702 170 -2762 170 -1 75
M -2702 167 -2702 170 -1 75
M -2702 200 -2777 200 -1 75
M -2702 230 -2702 200 -1 75
M -2702 167 -2762 167 -1 75
M -2762 167 -2777 182 -1 75
M -2945 290 -2303 290 -1 75
M -3173 131 -2303 131 -1 75
M -3173 128 -2303 128 -1 75
M -2945 287 -2303 287 -1 75
M -2828 278 -2825 278 -1 75
M -2840 245 -2888 245 -1 75
M -2840 242 -2888 242 -1 75
M -2825 230 -2840 245 -1 75
M -2888 245 -2903 230 -1 75
M -2828 230 -2840 242 -1 75
M -2888 242 -2900 230 -1 75
M -2840 170 -2828 182 -1 75
M -2828 167 -2825 167 -1 75
M -2903 230 -2903 182 -1 75
M -2903 182 -2888 167 -1 75
M -2888 167 -2840 167 -1 75
M -2840 167 -2825 182 -1 75
M -2900 230 -2900 182 -1 75
M -2900 182 -2888 170 -1 75
M -2888 170 -2840 170 -1 75
M -3029 248 -2966 248 -1 75
M -3029 245 -3029 248 -1 75
M -3029 245 -2966 245 -1 75
M -2966 248 -2948 230 -1 75
M -2966 245 -2951 230 -1 75
M -2936 170 -2936 167 -1 75
M -2948 182 -2936 170 -1 75
M -2966 170 -2951 185 -1 75
M -2966 167 -2951 182 -1 75
M -2951 182 -2936 167 -1 75
M -3014 167 -2966 167 -1 75
M -2951 215 -3014 215 -1 75
M -2948 212 -3014 212 -1 75
M -3014 170 -2966 170 -1 75
M -3029 182 -3014 167 -1 75
M -3029 200 -3029 182 -1 75
M -3014 215 -3029 200 -1 75
M -3014 212 -3026 200 -1 75
M -3026 200 -3026 182 -1 75
M -3026 182 -3014 170 -1 75
M -3173 290 -3029 290 -1 75
M -3029 287 -3173 287 -1 75
M -3071 245 -3110 245 -1 75
M -3071 248 -3071 245 -1 75
M -3110 248 -3071 248 -1 75
M -3167 125 -3167 293 -1 75
M -3170 125 -3170 293 -1 75
M -3110 245 -3125 230 -1 75
M -3128 230 -3110 248 -1 75
M -3110 170 -3071 170 -1 75
M -3125 185 -3110 170 -1 75
M -3071 170 -3071 167 -1 75
M -3071 167 -3110 167 -1 75
M -3125 230 -3125 185 -1 75
M -3110 167 -3128 185 -1 75
M -3128 185 -3128 230 -1 75
M -3029 278 -2945 278 -1 75
M -3029 281 -2945 281 -1 75
M -2945 275 -3029 275 -1 75
M -2303 125 -3173 125 -1 75
M -2777 230 -2777 182 -1 75
M -2429 230 -2429 182 -1 75
M -2774 230 -2774 182 -1 75
M -2426 230 -2426 182 -1 75
M -2948 182 -2948 230 -1 75
M -2951 230 -2951 182 -1 75
M -2828 278 -2828 167 -1 75
M -2825 278 -2825 167 -1 75
M -3029 281 -3029 275 -1 75
M -2945 275 -2945 281 -1 75
M -3173 293 -3173 125 -1 75
M -3029 293 -3029 287 -1 75
M -2945 293 -2945 287 -1 75
M -2303 293 -2303 125 -1 75
M -3029 293 -3173 293 -1 75
M -2303 293 -2945 293 -1 75
L 10 10 -10 -10 -1 0
L 10 -10 -10 10 -1 0
M 125 -125 -3875 -125 -1 1
M 125 5125 -3875 5125 -1 1
M 0 5000 -3750 5000 -1 1
M -3750 5000 -3750 0 -1 1
M -3875 5125 -3875 -125 -1 1
M 125 5125 125 -125 -1 1
M 0 5000 0 0 -1 1
M 0 375 -3750 375 -1 1
M -1700 375 -1700 0 -1 1
M 0 0 -3750 0 -1 1
M -2825 0 -2825 -125 -1 1
L 5 5005 5 -5 -1 0
L 120 5120 120 -120 -1 0
M -1700 175 0 175 -1 1
L -3755 -5 5 -5 -1 0
M -975 0 -975 -125 -1 1
M 0 1625 125 1625 -1 1
M -1900 0 -1900 -125 -1 1
M 0 2750 125 2750 -1 1
M -3875 2750 -3750 2750 -1 1
M -3875 1625 -3750 1625 -1 1
L -3870 5120 -3870 -120 -1 0
L -3755 5005 -3755 -5 -1 0
M -3875 3875 -3750 3875 -1 1
M 0 3875 125 3875 -1 1
L 120 5120 -3870 5120 -1 0
L 5 5005 -3755 5005 -1 0
M -975 5000 -975 5125 -1 1
M -1900 5000 -1900 5125 -1 1
M -2825 5000 -2825 5125 -1 1
M -550 375 -550 0 -1 1
L 120 -120 -3870 -120 -1 0
T -525 325 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -525 125 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -3285 -80 0.00 0.00 41 0 0 0 0 1 0
4
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 950 0.00 0.00 41 0 0 0 0 1 0
A
T -1440 -80 0.00 0.00 41 0 0 0 0 1 0
2
T -1675 325 0.00 0.00 41 0 0 0 0 6 0
TITLE:
T -1675 125 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -2370 -80 0.00 0.00 41 0 0 0 0 1 0
3
T -3825 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -3825 950 0.00 0.00 41 0 0 0 0 1 0
A
T -520 5045 0.00 0.00 41 0 0 0 0 1 0
1
T -1440 5045 0.00 0.00 41 0 0 0 0 1 0
2
T -2385 5045 0.00 0.00 41 0 0 0 0 1 0
3
T -3280 5045 0.00 0.00 41 0 0 0 0 1 0
4
T 50 3325 0.00 0.00 41 0 0 0 0 1 0
C
T 50 4450 0.00 0.00 41 0 0 0 0 1 0
D
T -3825 3325 0.00 0.00 41 0 0 0 0 1 0
C
T -3825 4450 0.00 0.00 41 0 0 0 0 1 0
D
T -515 -80 0.00 0.00 41 0 0 0 0 1 0
1
P "COMMENT_BODY" "TRUE" -1500 1500 0.00 0.00 41 0 0 0 0 0 0 0 0
