C -150 0 "A" -172 0 0 1 22 0 R
C 150 0 "B" 172 0 0 1 22 0 L
L 100 0 150 0 -1 16
L -100 0 -150 0 -1 16
A -75 0 25 0.00 180.00 16
A -25 0 25 0.00 180.00 16
A 25 0 25 0.00 180.00 16
A 75 0 25 0.00 180.00 16
P "TOLERANCE" "?" 0 -100 0.00 0.00 46 0 0 1 0 0 1 0 32
P "$LOCATION" "?" 0 100 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PATH" "?" 0 150 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 175 0.00 0.00 23 0 0 1 0 0 0 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 200 0.00 0.00 22 0 0 1 0 0 0 0 0
P "VALUE" "?" 0 50 0.00 0.00 46 0 0 1 0 0 1 0 32
