C 0 100 "ANODE" 0 122 0 1 22 1 L
C 0 -100 "CATHODE" 0 -122 0 1 22 1 R
L 105 0 100 5 -1 16
L 105 0 100 0 -1 16
L 100 5 100 0 -1 16
L 125 25 100 0 -1 16
L 100 50 75 25 -1 16
L 80 25 75 25 -1 16
L 80 25 75 30 -1 16
L 75 30 75 25 -1 16
L 0 -50 0 -100 -1 16
L -50 -50 0 50 -1 16
L 0 50 50 -50 -1 16
L 0 50 0 100 -1 16
L 50 50 -50 50 -1 16
L -50 -50 50 -50 -1 16
P "PACK_TYPE" "?" -75 -50 0.00 0.00 23 0 0 2 0 0 0 0 32
P "PATH" "?" -75 -100 0.00 0.00 23 0 0 2 0 0 0 0 32
P "$LOCATION" "?" -75 0 0.00 0.00 46 0 0 2 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
