C -100 0 "B" -128 0 0 1 22 0 R
X "$PN" "#" -150 -50 0.00 0.00 47 0 0 0 0 0 1 0 32
C 100 0 "A" 128 0 0 1 22 0 L
X "$PN" "#" 100 -50 0.00 0.00 47 0 0 0 0 0 1 0 32
L 25 -25 25 25 -1 16
L 25 0 100 0 -1 16
L -25 0 -100 0 -1 16
A -50 0 25 270.00 90.00 16
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "PATH" "?" 0 150 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 175 0.00 0.00 23 0 0 1 0 0 0 0 32
P "$LOCATION" "?" 0 100 0.00 0.00 46 0 0 1 0 0 1 0 32
P "VALUE" "?" 0 50 0.00 0.00 46 0 0 1 0 0 1 0 32
P "TOLERANCE" "?" 0 -75 0.00 0.00 46 0 0 1 0 0 1 0 32
