C 0 -50 "B" -28 -50 0 1 22 0 R
X "$PN" "#" 25 -100 90.00 0.00 47 0 0 0 0 0 1 0 32
C 0 50 "A" -22 50 0 1 22 0 R
X "$PN" "#" 25 75 90.00 0.00 47 0 0 0 0 0 1 0 32
L -25 25 25 25 -1 16
L -25 -25 25 -25 -1 16
L 0 25 0 50 -1 16
L 0 -25 0 -50 -1 16
P "PACK_TYPE" "?" 50 100 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PATH" "?" 50 75 0.00 0.00 23 0 0 0 0 0 0 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" 50 25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "VALUE" "?" 50 -25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "TOLERANCE" "?" 50 -75 0.00 0.00 46 0 0 0 0 0 1 0 32
