C -250 0 "I6" -272 0 0 1 22 0 R
X "PIN_TEXT" "I6" -175 0 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 50 "I5" -272 50 0 1 22 0 R
X "PIN_TEXT" "I5" -175 50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 100 "I4" -272 100 0 1 22 0 R
X "PIN_TEXT" "I4" -175 100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 150 "I3" -272 150 0 1 22 0 R
X "PIN_TEXT" "I3" -175 150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 200 "I2" -272 200 0 1 22 0 R
X "PIN_TEXT" "I2" -175 200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 250 "I1" -272 250 0 1 22 0 R
X "PIN_TEXT" "I1" -175 250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -50 "I7" -272 -50 0 1 22 0 R
X "PIN_TEXT" "I7" -175 -50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -200 "I10" -272 -200 0 1 22 0 R
X "PIN_TEXT" "I10" -175 -200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -150 "I9" -272 -150 0 1 22 0 R
X "PIN_TEXT" "I9" -175 -150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -100 "I8" -272 -100 0 1 22 0 R
X "PIN_TEXT" "I8" -175 -100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -250 "I11" -272 -250 0 1 22 0 R
X "PIN_TEXT" "I11" -175 -250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -300 "I12" -272 -300 0 1 22 0 R
X "PIN_TEXT" "I12" -175 -300 0.00 0.00 44 0 0 0 0 0 1 0 0
C 250 250 "O1" 272 250 0 1 22 0 L
X "PIN_TEXT" "O1" 175 250 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 200 "O2" 272 200 0 1 22 0 L
X "PIN_TEXT" "O2" 175 200 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 150 "O3" 272 150 0 1 22 0 L
X "PIN_TEXT" "O3" 175 150 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 100 "O4" 272 100 0 1 22 0 L
X "PIN_TEXT" "O4" 175 100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 50 "O5" 272 50 0 1 22 0 L
X "PIN_TEXT" "O5" 175 50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 0 "O6" 272 0 0 1 22 0 L
X "PIN_TEXT" "O6" 175 0 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 -50 "O7" 272 -50 0 1 22 0 L
X "PIN_TEXT" "O7" 175 -50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 -150 "O9" 272 -150 0 1 22 0 L
X "PIN_TEXT" "O9" 175 -150 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 -100 "O8" 272 -100 0 1 22 0 L
X "PIN_TEXT" "O8" 175 -100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 -200 "O10" 272 -200 0 1 22 0 L
X "PIN_TEXT" "O10" 175 -200 0.00 0.00 44 0 0 2 0 0 1 0 0
L -250 250 -200 250 -1 -2
L -200 300 -200 -350 -1 -2
L 200 300 200 -350 -1 -2
L 250 150 200 150 -1 -2
L 250 200 200 200 -1 -2
L 250 250 200 250 -1 -2
L 250 50 200 50 -1 -2
L 250 100 200 100 -1 -2
L 250 0 200 0 -1 -2
L 250 -200 200 -200 -1 -2
L 250 -100 200 -100 -1 -2
L 250 -150 200 -150 -1 -2
L 250 -50 200 -50 -1 -2
L -250 200 -200 200 -1 -2
L -250 150 -200 150 -1 -2
L -250 100 -200 100 -1 -2
L -250 50 -200 50 -1 -2
L -250 0 -200 0 -1 -2
L -250 -100 -200 -100 -1 -2
L -250 -50 -200 -50 -1 -2
L -250 -150 -200 -150 -1 -2
L -250 -200 -200 -200 -1 -2
L -250 -250 -200 -250 -1 -2
L -250 -300 -200 -300 -1 -2
L -200 300 200 300 -1 -2
L -200 -350 200 -350 -1 -2
T 0 325 0.00 0.00 44 0 0 1 0 5 0
20L10
P "$LOCATION" "?" 0 375 0.00 0.00 46 0 0 1 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 0 400 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 425 0.00 0.00 23 0 0 1 0 0 0 0 32
