C 0 50 "GND" 5 65 0 1 15 0 L
L -50 -50 50 -50 -1 0
L -50 -50 0 -100 -1 16
L 0 -100 50 -50 -1 16
L 0 50 0 -50 -1 16
P "VOLTAGE" "0V" 25 100 0.00 0.00 47 0 0 0 0 0 0 0 32
P "PATH" "?" 25 0 0.00 0.00 46 0 0 0 0 0 0 0 32
P "BODY_TYPE" "PLUMBING" 50 150 0.00 0.00 46 0 0 0 0 0 0 0 32
P "HDL_POWER" "AGND" 50 50 0.00 0.00 46 0 0 0 0 0 0 0 32
