C -250 50 "DCLK" -272 50 0 1 22 0 R
X "PIN_TEXT" "DCLK" -175 50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 0 "OE" -272 0 0 1 22 0 R
X "PIN_TEXT" "OE" -175 0 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -100 "CS*" -272 -100 0 1 22 0 R
X "PIN_TEXT" "CS" -175 -100 0.00 0.00 44 0 0 0 0 0 1 0 0
C 250 0 "DATA" 272 0 0 1 22 0 L
X "PIN_TEXT" "DATA" 175 0 0.00 0.00 44 0 0 2 0 0 1 0 0
L -200 -150 200 -150 -1 -2
L -200 100 200 100 -1 -2
L 250 0 200 0 -1 -2
L -250 0 -200 0 -1 -2
L -250 50 -200 50 -1 -2
L 200 100 200 -150 -1 -2
L -200 100 -200 -150 -1 -2
A -225 -100 25 0.00 359.91 0
T 0 125 0.00 0.00 44 0 0 1 0 7 0
EPC1064
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" 0 175 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PATH" "?" 0 250 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 225 0.00 0.00 23 0 0 1 0 0 0 0 32
