C 100 0 "CATHODE" 122 0 0 1 22 0 L
C -100 0 "ANODE" -122 0 0 1 22 0 R
L 50 0 100 0 -1 16
L 50 -50 50 50 -1 16
L -50 0 -100 0 -1 16
L 50 -50 -50 0 -1 16
L -50 0 50 50 -1 16
L -50 50 -50 -50 -1 16
L -5 100 0 100 -1 16
L 0 105 0 100 -1 16
L 0 105 -5 100 -1 16
L -25 125 0 100 -1 16
L -30 75 -25 75 -1 16
L -25 80 -25 75 -1 16
L -25 80 -30 75 -1 16
L -50 100 -25 75 -1 16
P "PATH" "?" 0 -225 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 -175 0.00 0.00 23 0 0 1 0 0 0 0 32
P "$LOCATION" "?" 0 -125 0.00 0.00 46 0 0 1 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
