P "CDS_LMAN_SYM_OUTLINE" "-25,25,25,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -25 -15 -25 15 -1 72
L 25 0 -25 -15 -1 72
L -25 15 25 0 -1 72
P "HDL_POWER" "+1_2V" -25 100 0 0 41 0 0 0 0 0 0 0 0
P "PATH" "?" 0 50 0 0 41 0 0 0 0 0 0 0 96
P "SIZE" "1B" -25 50 0 0 41 0 0 2 0 0 0 0 96
L -50 0 -25 0 -1 16
C -50 0 "A<SIZE-1..0>" -250 -115 0 1 41 0 L
X "PIN_TEXT" "+1.2V" 45 -15 0 0 41 0 0 0 0 0 1 0 4


