C 0 -150 "B" -28 -150 0 1 22 0 R
C 0 150 "A" -22 150 0 1 22 0 R
L 0 100 0 150 -1 16
L 0 -100 0 -150 -1 16
A 0 75 25 90.00 270.00 16
A 0 25 25 90.00 270.00 16
A 0 -75 25 90.00 270.00 16
A 0 -25 25 90.00 270.00 16
P "TOLERANCE" "?" 50 -75 0.00 0.00 46 0 0 0 0 0 1 0 32
P "VALUE" "?" 50 -25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "$LOCATION" "?" 50 25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "PATH" "?" 50 75 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PACK_TYPE" "?" 50 100 0.00 0.00 23 0 0 0 0 0 0 0 32
