C -50 0 "A" -72 0 0 1 22 0 R
X "$PN" "#" -100 -50 0.00 0.00 47 0 0 0 0 0 1 0 32
C 50 0 "B" 72 0 0 1 22 0 L
X "$PN" "#" 50 -50 0.00 0.00 47 0 0 0 0 0 1 0 32
L -25 -25 -25 25 -1 16
L 25 -25 25 25 -1 16
L 25 0 50 0 -1 16
L -25 0 -50 0 -1 16
P "$LOCATION" "?" 0 100 0.00 0.00 46 0 0 1 0 0 1 0 32
P "VALUE" "?" 0 50 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PACK_TYPE" "?" 0 175 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 150 0.00 0.00 23 0 0 1 0 0 0 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "TOLERANCE" "?" 0 -75 0.00 0.00 46 0 0 1 0 0 1 0 32
