M 125 5125 -3875 5125 -1 1
M 125 5125 125 -125 -1 1
M -3875 5125 -3875 -125 -1 1
M 125 -125 -3875 -125 -1 1
M 0 5000 -3750 5000 -1 1
M 0 5000 0 0 -1 1
M -3750 5000 -3750 0 -1 1
M 0 0 -3750 0 -1 1
L -3755 5005 -3755 -5 -1 0
L 5 5005 -3755 5005 -1 0
L -3755 -5 5 -5 -1 0
L 5 5005 5 -5 -1 0
L -3870 5120 -3870 -120 -1 0
L 120 5120 -3870 5120 -1 0
L 120 -120 -3870 -120 -1 0
L 120 5120 120 -120 -1 0
M -250 4700 -3475 4700 -1 17
M -250 4700 -250 450 -1 17
M -3475 4700 -3475 450 -1 17
M -250 450 -3475 450 -1 17
M -1700 375 0 375 -1 1
M -1700 375 -1700 0 -1 1
M -1700 175 0 175 -1 1
M 0 3875 125 3875 -1 1
M 0 1625 125 1625 -1 1
M 0 2750 125 2750 -1 1
M -3875 2750 -3750 2750 -1 1
M -3875 3875 -3750 3875 -1 1
M -3875 1625 -3750 1625 -1 1
M -3475 4475 -250 4475 -1 17
L -3475 4250 -250 4250 -1 16
L -3475 4050 -250 4050 -1 16
L -3475 3650 -250 3650 -1 16
L -3475 2050 -250 2050 -1 16
L -3475 2250 -250 2250 -1 16
L -3475 2450 -250 2450 -1 16
L -3475 2650 -250 2650 -1 16
L -3475 3450 -250 3450 -1 16
L -3475 3250 -250 3250 -1 16
L -3475 3050 -250 3050 -1 16
L -3475 650 -250 650 -1 16
L -3475 850 -250 850 -1 16
L -3475 1450 -250 1450 -1 16
L -3475 3850 -250 3850 -1 16
L -3475 1850 -250 1850 -1 16
L -3475 2850 -250 2850 -1 16
L -3475 1650 -250 1650 -1 16
L -3475 1250 -250 1250 -1 16
L -3475 1050 -250 1050 -1 16
M -1525 4700 -1525 450 -1 17
M -2875 4700 -2875 450 -1 17
M -2000 5000 -2000 5125 -1 1
M -1000 5000 -1000 5125 -1 1
M -3000 5000 -3000 5125 -1 1
M -3000 0 -3000 -125 -1 1
M -1000 0 -1000 -125 -1 1
M -2000 0 -2000 -125 -1 1
M -550 375 -550 0 -1 1
T -1200 4550 0.00 0.00 59 0 0 0 0 10 82
BLOCK NAME
T -2875 4775 0.00 0.00 116 0 0 0 0 17 82
TABLE OF CONTENTS
T -3825 4450 0.00 0.00 41 0 0 0 0 1 0
D
T -3825 3325 0.00 0.00 41 0 0 0 0 1 0
C
T -3825 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -525 325 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -2525 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -3450 -75 0.00 0.00 41 0 0 0 0 1 0
4
T -1525 -75 0.00 0.00 41 0 0 0 0 1 0
2
T -525 125 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -1675 325 0.00 0.00 41 0 0 0 0 6 0
TITLE:
T -1675 125 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -500 -75 0.00 0.00 41 0 0 0 0 1 0
1
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T 50 950 0.00 0.00 41 0 0 0 0 1 0
A
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 3325 0.00 0.00 41 0 0 0 0 1 0
C
T 50 4450 0.00 0.00 41 0 0 0 0 1 0
D
T -3450 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -2500 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -3825 950 0.00 0.00 41 0 0 0 0 1 0
A
T -2600 4550 0.00 0.00 59 0 0 0 0 10 82
SHEET NAME
T -3400 4550 0.00 0.00 59 0 0 0 0 9 82
SHEET NO.
P "CUSTOM_TXT_CDS" "<CON_TC_SNO3>" -3300 3925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM1>" -1450 4325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO8>" -3300 2925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO9>" -3300 2725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO10>" -3300 2525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO12>" -3300 2125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO13>" -3300 1925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO14>" -3300 1725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO15>" -3300 1525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM12>" -1450 2125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM11>" -1450 2325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM10>" -1450 2525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM9>" -1450 2725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM8>" -1450 2925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM7>" -1450 3125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM6>" -1450 3325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM5>" -1450 3525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM4>" -1450 3725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM13>" -1450 1925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM15>" -1450 1525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM16>" -1450 1325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM17>" -1450 1125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM18>" -1450 925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM19>" -1450 725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM20>" -1450 525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM10>" -2750 2525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM11>" -2750 2325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM12>" -2750 2125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO11>" -3300 2325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM16>" -2750 1325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM17>" -2750 1125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM15>" -2750 1525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM13>" -2750 1925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM2>" -1450 4125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO4>" -3300 3725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM1>" -2750 4325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO7>" -3300 3125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO6>" -3300 3325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO5>" -3300 3525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM8>" -2750 2925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM7>" -2750 3125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM6>" -2750 3325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM4>" -2750 3725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM5>" -2750 3525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM9>" -2750 2725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM14>" -2750 1725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM14>" -1450 1725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM20>" -2750 525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM19>" -2750 725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM18>" -2750 925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO20>" -3300 525 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO19>" -3300 725 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO18>" -3300 925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO17>" -3300 1125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO16>" -3300 1325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO1>" -3300 4325 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM3>" -2750 3925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM3>" -1450 3925 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNM2>" -2750 4125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_SNO2>" -3300 4125 0.00 0.00 47 0 0 0 0 0 1 0 32
P "TOC_SYMBOL" "TRUE" 25 100 0.00 0.00 47 0 0 0 0 0 0 0 32
P "COMMENT_BODY" "TRUE" -1325 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
