P "CDS_LMAN_SYM_OUTLINE" "-25,25,125,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L 0 25 -25 0 -1 16
L 0 25 100 25 -1 16
L -25 0 0 -25 -1 16
L 0 -25 100 -25 -1 16
L 100 25 125 0 -1 16
L 125 0 100 -25 -1 16
P "OFFPAGE" "TRUE" 25 100 0 0 47 0 0 0 0 0 0 0 32
P "PATH" "?" 0 50 0 0 41 0 0 0 0 0 0 0 80
L -25 0 -50 0 -1 16
C -50 0 "A" -100 0 0 1 41 0 L
X "VHDL_PORT" "INOUT" -35 -70 0 0 41 0 0 0 0 0 0 0 80
X "HDL_PORT" "INOUT" 325 -125 0 0 41 0 0 0 0 0 0 0 32
X "PIN_TEXT" "IO" 50 -16 0 0 40 0 0 1 0 0 1 0 68


