C 0 -50 "$PIN0" 5 -65 0 1 15 0 L
L 15 -40 -15 -40 -1 0
L 0 -40 0 -50 -1 0
L -15 -40 0 0 -1 0
L 0 0 15 -40 -1 0
T -40 10 0.00 0.00 31 0 0 0 0 3 0
VCC
P "VOLTAGE" "5V" 25 100 0.00 0.00 47 0 0 0 0 0 0 0 32
P "HDL_POWER" "VCC" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
P "BODY_TYPE" "PLUMBING" -45 -43 0.00 0.00 16 0 0 0 0 0 0 0 0
P "PATH" "?" 50 -25 0.00 0.00 46 0 0 0 0 0 0 0 32
