P "CDS_LMAN_SYM_OUTLINE" "-175,50,25,-50" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -128 -31 -159 0 -1 0
L 6 -31 -128 -31 -1 0
L 6 31 6 -31 -1 0
L -128 31 6 31 -1 0
L -159 0 -128 31 -1 0
L 0 -25 -125 -25 -1 0
L 0 25 0 -25 -1 0
L -125 25 0 25 -1 0
L -125 -25 -150 0 -1 0
L -150 0 -125 25 -1 0
P "COMMENT_BODY" "TRUE" 100 -75 0 0 41 0 0 0 0 0 0 0 0
P "OFFPAGE" "TRUE" 325 -125 0 0 41 0 0 0 0 0 0 0 32
L 50 0 0 0 -1 0
C 50 0 "A" 100 0 0 0 41 0 L
X "PIN_TEXT" "OUT" -70 -20 0 0 41 0 0 1 0 0 1 0 0


