P "CDS_LMAN_SYM_OUTLINE" "-150,300,150,-300" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -150 -300 150 -300 -1 0
L -150 300 150 300 -1 0
L 150 300 150 -300 -1 0
L -150 300 -150 -300 -1 0
T 0 325 0 0 44 0 0 1 0 8 0
FCT16245
P "$LOCATION" "?" 0 375 0 0 46 0 0 1 0 0 1 0 32
P "PATH" "?" 0 425 0 0 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 400 0 0 23 0 0 1 0 0 0 0 32
A -175 -250 25 0 360 0
C -200 -250 "G*" -222 -250 0 1 22 0 R
X "PIN_TEXT" "G" -125 -250 0 0 44 0 0 0 0 0 1 0 0
L -200 -200 -150 -200 -1 0
C -200 -200 "DIR" -222 -200 0 1 22 0 R
X "PIN_TEXT" "DIR" -125 -200 0 0 44 0 0 0 0 0 1 0 0
L -200 -50 -150 -50 -1 0
C -200 -50 "A<1>" -222 -50 0 1 22 0 R
X "PIN_TEXT" "A1" -125 -50 0 0 44 0 0 0 0 0 1 0 0
L -200 -100 -150 -100 -1 0
C -200 -100 "A<0>" -222 -100 0 1 22 0 R
X "PIN_TEXT" "A0" -125 -100 0 0 44 0 0 0 0 0 1 0 0
L -200 0 -150 0 -1 0
C -200 0 "A<2>" -222 0 0 1 22 0 R
X "PIN_TEXT" "A2" -125 0 0 0 44 0 0 0 0 0 1 0 0
L -200 100 -150 100 -1 0
C -200 100 "A<4>" -222 100 0 1 22 0 R
X "PIN_TEXT" "A4" -125 100 0 0 44 0 0 0 0 0 1 0 0
L -200 50 -150 50 -1 0
C -200 50 "A<3>" -222 50 0 1 22 0 R
X "PIN_TEXT" "A3" -125 50 0 0 44 0 0 0 0 0 1 0 0
L -200 250 -150 250 -1 0
C -200 250 "A<7>" -222 250 0 1 22 0 R
X "PIN_TEXT" "A7" -125 250 0 0 44 0 0 0 0 0 1 0 0
L -200 200 -150 200 -1 0
C -200 200 "A<6>" -222 200 0 1 22 0 R
X "PIN_TEXT" "A6" -125 200 0 0 44 0 0 0 0 0 1 0 0
L -200 150 -150 150 -1 0
C -200 150 "A<5>" -222 150 0 1 22 0 R
X "PIN_TEXT" "A5" -125 150 0 0 44 0 0 0 0 0 1 0 0
L 200 -100 150 -100 -1 0
C 200 -100 "B<0>" 222 -100 0 1 22 0 L
X "PIN_TEXT" "B0" 125 -100 0 0 44 0 0 2 0 0 1 0 0
L 200 -50 150 -50 -1 0
C 200 -50 "B<1>" 222 -50 0 1 22 0 L
X "PIN_TEXT" "B1" 125 -50 0 0 44 0 0 2 0 0 1 0 0
L 200 0 150 0 -1 0
C 200 0 "B<2>" 222 0 0 1 22 0 L
X "PIN_TEXT" "B2" 125 0 0 0 44 0 0 2 0 0 1 0 0
L 200 100 150 100 -1 0
C 200 100 "B<4>" 222 100 0 1 22 0 L
X "PIN_TEXT" "B4" 125 100 0 0 44 0 0 2 0 0 1 0 0
L 200 50 150 50 -1 0
C 200 50 "B<3>" 222 50 0 1 22 0 L
X "PIN_TEXT" "B3" 125 50 0 0 44 0 0 2 0 0 1 0 0
L 200 150 150 150 -1 0
C 200 150 "B<5>" 222 150 0 1 22 0 L
X "PIN_TEXT" "B5" 125 150 0 0 44 0 0 2 0 0 1 0 0
L 200 200 150 200 -1 0
C 200 200 "B<6>" 222 200 0 1 22 0 L
X "PIN_TEXT" "B6" 125 200 0 0 44 0 0 2 0 0 1 0 0
L 200 250 150 250 -1 0
C 200 250 "B<7>" 222 250 0 1 22 0 L
X "PIN_TEXT" "B7" 125 250 0 0 44 0 0 2 0 0 1 0 0


