P "CDS_LMAN_SYM_OUTLINE" "-100,25,25,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -100 -25 0 -25 -1 16
L -100 -25 -100 25 -1 16
L 25 0 0 -25 -1 16
L -100 25 0 25 -1 16
L 0 25 25 0 -1 16
P "PATH" "?" -25 50 0 0 41 0 0 0 0 0 0 0 80
P "OFFPAGE" "TRUE" 325 -125 0 0 41 0 0 0 0 0 0 0 32
L 50 0 25 0 -1 16
C 50 0 "A" 75 0 0 0 41 0 L
X "VHDL_PORT" "IN" 65 -70 0 0 41 0 0 0 0 0 0 0 80
X "HDL_PORT" "IN" 325 -125 0 0 41 0 0 0 0 0 0 0 32
X "PIN_TEXT" "IN" -50 -17 0 0 40 0 0 1 0 0 1 0 68


