C -400 1050 "BD <1>" -422 1050 0 1 22 0 R
X "PIN_TEXT" "BD1" -325 1050 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 1100 "BD <0>" -422 1100 0 1 22 0 R
X "PIN_TEXT" "BD0" -325 1100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 1000 "BD <2>" -422 1000 0 1 22 0 R
X "PIN_TEXT" "BD2" -325 1000 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 950 "BD <3>" -422 950 0 1 22 0 R
X "PIN_TEXT" "BD3" -325 950 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 900 "BD <4>" -422 900 0 1 22 0 R
X "PIN_TEXT" "BD4" -325 900 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 800 "BD <6>" -422 800 0 1 22 0 R
X "PIN_TEXT" "BD6" -325 800 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 850 "BD <5>" -422 850 0 1 22 0 R
X "PIN_TEXT" "BD5" -325 850 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 750 "BD <7>" -422 750 0 1 22 0 R
X "PIN_TEXT" "BD7" -325 750 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 650 "DATA1" -422 650 0 1 22 0 R
X "PIN_TEXT" "DATA1" -325 650 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 600 "RESET" -422 600 0 1 22 0 R
X "PIN_TEXT" "RESET" -325 600 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 500 "DATA2" -422 500 0 1 22 0 R
X "PIN_TEXT" "DATA2" -325 500 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 400 "DATA4" -422 400 0 1 22 0 R
X "PIN_TEXT" "DATA4" -325 400 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 450 "DATA3" -422 450 0 1 22 0 R
X "PIN_TEXT" "DATA3" -325 450 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 350 "DATA5" -422 350 0 1 22 0 R
X "PIN_TEXT" "DATA5" -325 350 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 150 "NCS" -422 150 0 1 22 0 R
X "PIN_TEXT" "NCS" -325 150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 250 "TDO" -422 250 0 1 22 0 R
X "PIN_TEXT" "TDO" -325 250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 100 "NWS" -422 100 0 1 22 0 R
X "PIN_TEXT" "NWS" -325 100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 50 "INPUTA" -422 50 0 1 22 0 R
X "PIN_TEXT" "INPUTA" -325 50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 0 "INPUTB" -422 0 0 1 22 0 R
X "PIN_TEXT" "INPUTB" -325 0 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -50 "INPUTC" -422 -50 0 1 22 0 R
X "PIN_TEXT" "INPUTC" -325 -50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -150 "TDI" -422 -150 0 1 22 0 R
X "PIN_TEXT" "TDI" -325 -150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -250 "INPUT" -422 -250 0 1 22 0 R
X "PIN_TEXT" "INPUT" -325 -250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -350 "NCONFIG" -422 -350 0 1 22 0 R
X "PIN_TEXT" "NCONFIG" -325 -350 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -450 "NSP" -422 -450 0 1 22 0 R
X "PIN_TEXT" "NSP" -325 -450 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -500 "MSEL0" -422 -500 0 1 22 0 R
X "PIN_TEXT" "MSEL0" -325 -500 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -550 "MSEL1" -422 -550 0 1 22 0 R
X "PIN_TEXT" "MSEL1" -325 -550 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -650 "DATA0" -422 -650 0 1 22 0 R
X "PIN_TEXT" "DATA0" -325 -650 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -700 "DCLK" -422 -700 0 1 22 0 R
X "PIN_TEXT" "DCLK" -325 -700 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -750 "NSTATUS" -422 -750 0 1 22 0 R
X "PIN_TEXT" "NSTATUS" -325 -750 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -800 "CONF_DONE" -422 -800 0 1 22 0 R
X "PIN_TEXT" "CONF_DONE" -325 -800 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -1000 "TCK" -422 -1000 0 1 22 0 R
X "PIN_TEXT" "TCK" -325 -1000 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -900 "I/O" -422 -900 0 1 22 0 R
X "PIN_TEXT" "I/O" -325 -900 0.00 0.00 44 0 0 0 0 0 1 0 0
C -400 -1100 "NTRST" -422 -1100 0 1 22 0 R
X "PIN_TEXT" "NTRST" -325 -1100 0.00 0.00 44 0 0 0 0 0 1 0 0
C 400 -1250 "GAIN" 422 -1250 0 1 22 0 L
X "PIN_TEXT" "GAIN" 325 -1250 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -1150 "VCLKC" 422 -1150 0 1 22 0 L
X "PIN_TEXT" "VCLKC" 325 -1150 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -1100 "ADD16" 422 -1100 0 1 22 0 L
X "PIN_TEXT" "ADD16" 325 -1100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -1050 "VCLKB" 422 -1050 0 1 22 0 L
X "PIN_TEXT" "VCLKB" 325 -1050 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -1000 "VCLKA" 422 -1000 0 1 22 0 L
X "PIN_TEXT" "VCLKA" 325 -1000 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -900 "VD <7>" 422 -900 0 1 22 0 L
X "PIN_TEXT" "VD7" 325 -900 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -800 "VD <5>" 422 -800 0 1 22 0 L
X "PIN_TEXT" "VD5" 325 -800 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -850 "VD <6>" 422 -850 0 1 22 0 L
X "PIN_TEXT" "VD6" 325 -850 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -750 "VD <4>" 422 -750 0 1 22 0 L
X "PIN_TEXT" "VD4" 325 -750 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -700 "VD <3>" 422 -700 0 1 22 0 L
X "PIN_TEXT" "VD3" 325 -700 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -650 "VD <2>" 422 -650 0 1 22 0 L
X "PIN_TEXT" "VD2" 325 -650 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -550 "VD <0>" 422 -550 0 1 22 0 L
X "PIN_TEXT" "VD0" 325 -550 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -600 "VD <1>" 422 -600 0 1 22 0 L
X "PIN_TEXT" "VD1" 325 -600 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -450 "ADD14" 422 -450 0 1 22 0 L
X "PIN_TEXT" "ADD14" 325 -450 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -400 "ADD15" 422 -400 0 1 22 0 L
X "PIN_TEXT" "ADD15" 325 -400 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -350 "NRS" 422 -350 0 1 22 0 L
X "PIN_TEXT" "NRS" 325 -350 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -300 "RDCLK" 422 -300 0 1 22 0 L
X "PIN_TEXT" "RDCLK" 325 -300 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -250 "CLKUSR" 422 -250 0 1 22 0 L
X "PIN_TEXT" "CLKUSR" 325 -250 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -200 "ADD17" 422 -200 0 1 22 0 L
X "PIN_TEXT" "ADD17" 325 -200 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -100 "ADD <13>" 422 -100 0 1 22 0 L
X "PIN_TEXT" "ADD13" 325 -100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 -50 "ADD <12>" 422 -50 0 1 22 0 L
X "PIN_TEXT" "ADD12" 325 -50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 0 "ADD <11>" 422 0 0 1 22 0 L
X "PIN_TEXT" "ADD11" 325 0 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 100 "ADD <9>" 422 100 0 1 22 0 L
X "PIN_TEXT" "ADD9" 325 100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 50 "ADD <10>" 422 50 0 1 22 0 L
X "PIN_TEXT" "ADD10" 325 50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 250 "ADD <6>" 422 250 0 1 22 0 L
X "PIN_TEXT" "ADD6" 325 250 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 200 "ADD <7>" 422 200 0 1 22 0 L
X "PIN_TEXT" "ADD7" 325 200 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 150 "ADD <8>" 422 150 0 1 22 0 L
X "PIN_TEXT" "ADD8" 325 150 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 350 "ADD <4>" 422 350 0 1 22 0 L
X "PIN_TEXT" "ADD4" 325 350 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 300 "ADD <5>" 422 300 0 1 22 0 L
X "PIN_TEXT" "ADD5" 325 300 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 400 "ADD <3>" 422 400 0 1 22 0 L
X "PIN_TEXT" "ADD3" 325 400 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 450 "ADD <2>" 422 450 0 1 22 0 L
X "PIN_TEXT" "ADD2" 325 450 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 500 "ADD <1>" 422 500 0 1 22 0 L
X "PIN_TEXT" "ADD1" 325 500 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 550 "RDYNBUSY" 422 550 0 1 22 0 L
X "PIN_TEXT" "RDYNBUSY" 325 550 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 600 "ADD0" 422 600 0 1 22 0 L
X "PIN_TEXT" "ADD0" 325 600 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 650 "ADD18" 422 650 0 1 22 0 L
X "PIN_TEXT" "ADD18" 325 650 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 750 "RD <7>" 422 750 0 1 22 0 L
X "PIN_TEXT" "RD7" 325 750 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 850 "RD <5>" 422 850 0 1 22 0 L
X "PIN_TEXT" "RD5" 325 850 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 800 "RD <6>" 422 800 0 1 22 0 L
X "PIN_TEXT" "RD6" 325 800 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 900 "RD <4>" 422 900 0 1 22 0 L
X "PIN_TEXT" "RD4" 325 900 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 1000 "RD <2>" 422 1000 0 1 22 0 L
X "PIN_TEXT" "RD2" 325 1000 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 950 "RD <3>" 422 950 0 1 22 0 L
X "PIN_TEXT" "RD3" 325 950 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 1050 "RD <1>" 422 1050 0 1 22 0 L
X "PIN_TEXT" "RD1" 325 1050 0.00 0.00 44 0 0 2 0 0 1 0 0
C 400 1100 "RD <0>" 422 1100 0 1 22 0 L
X "PIN_TEXT" "RD0" 325 1100 0.00 0.00 44 0 0 2 0 0 1 0 0
L -350 -1300 350 -1300 -1 -2
L -350 1150 350 1150 -1 -2
L 400 -1250 350 -1250 -1 -2
L 400 -1150 350 -1150 -1 -2
L 400 -1100 350 -1100 -1 -2
L 400 -1050 350 -1050 -1 -2
L 400 -1000 350 -1000 -1 -2
L 400 -900 350 -900 -1 -2
L 400 -800 350 -800 -1 -2
L 400 -850 350 -850 -1 -2
L 400 -750 350 -750 -1 -2
L 400 -700 350 -700 -1 -2
L 400 -650 350 -650 -1 -2
L 400 -550 350 -550 -1 -2
L 400 -600 350 -600 -1 -2
L 325 -300 350 -325 -1 16
L 350 -275 325 -300 -1 16
L 400 -300 350 -300 -1 -2
L 400 -350 350 -350 -1 -2
L 400 -400 350 -400 -1 -2
L 400 -450 350 -450 -1 -2
L 400 -50 350 -50 -1 -2
L 400 -100 350 -100 -1 -2
L 400 -200 350 -200 -1 -2
L 400 -250 350 -250 -1 -2
L 400 0 350 0 -1 -2
L 400 150 350 150 -1 -2
L 400 200 350 200 -1 -2
L 400 250 350 250 -1 -2
L 400 50 350 50 -1 -2
L 400 100 350 100 -1 -2
L 400 500 350 500 -1 -2
L 400 450 350 450 -1 -2
L 400 400 350 400 -1 -2
L 400 300 350 300 -1 -2
L 400 350 350 350 -1 -2
L 400 750 350 750 -1 -2
L 400 650 350 650 -1 -2
L 400 600 350 600 -1 -2
L 400 550 350 550 -1 -2
L 400 950 350 950 -1 -2
L 400 1000 350 1000 -1 -2
L 400 900 350 900 -1 -2
L 400 800 350 800 -1 -2
L 400 850 350 850 -1 -2
L 400 1050 350 1050 -1 -2
L 400 1100 350 1100 -1 -2
L -400 -1100 -350 -1100 -1 -2
L -400 -900 -350 -900 -1 -2
L -400 -1000 -350 -1000 -1 -2
L -400 -800 -350 -800 -1 -2
L -400 -750 -350 -750 -1 -2
L -400 -700 -350 -700 -1 -2
L -400 -650 -350 -650 -1 -2
L -400 -550 -350 -550 -1 -2
L -325 -700 -350 -725 -1 16
L -350 -675 -325 -700 -1 16
L -400 -350 -350 -350 -1 -2
L -400 -450 -350 -450 -1 -2
L -400 -500 -350 -500 -1 -2
L -400 -50 -350 -50 -1 -2
L -400 -150 -350 -150 -1 -2
L -400 -250 -350 -250 -1 -2
L -400 0 -350 0 -1 -2
L -400 50 -350 50 -1 -2
L -400 100 -350 100 -1 -2
L -400 250 -350 250 -1 -2
L -400 150 -350 150 -1 -2
L -400 500 -350 500 -1 -2
L -400 400 -350 400 -1 -2
L -400 450 -350 450 -1 -2
L -400 350 -350 350 -1 -2
L -400 600 -350 600 -1 -2
L -400 650 -350 650 -1 -2
L -400 750 -350 750 -1 -2
L -400 1000 -350 1000 -1 -2
L -400 950 -350 950 -1 -2
L -400 900 -350 900 -1 -2
L -400 800 -350 800 -1 -2
L -400 850 -350 850 -1 -2
L -400 1100 -350 1100 -1 -2
L -400 1050 -350 1050 -1 -2
L 350 1150 350 -1300 -1 -2
L -350 1150 -350 -1300 -1 -2
T 0 1175 0.00 0.00 44 0 0 1 0 8 0
EPF8282A
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" 0 1225 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PACK_TYPE" "?" 0 1275 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 1300 0.00 0.00 23 0 0 1 0 0 0 0 32
