C -300 -600 "NC2" -322 -600 0 1 22 0 R
X "PIN_TEXT" "NC2" -225 -600 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -550 "NC1" -322 -550 0 1 22 0 R
X "PIN_TEXT" "NC1" -225 -550 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -450 "AGND1" -322 -450 0 1 22 0 R
X "PIN_TEXT" "AGND1" -225 -450 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -350 "GND1" -322 -350 0 1 22 0 R
X "PIN_TEXT" "GND1" -225 -350 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -250 "COMP" -322 -250 0 1 22 0 R
X "PIN_TEXT" "COMP" -225 -250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -200 "REF" -322 -200 0 1 22 0 R
X "PIN_TEXT" "REF" -225 -200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -150 "CLK" -322 -150 0 1 22 0 R
X "PIN_TEXT" "CLK" -225 -150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 -50 "D7" -322 -50 0 1 22 0 R
X "PIN_TEXT" "D7" -225 -50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 50 "D5" -322 50 0 1 22 0 R
X "PIN_TEXT" "D5" -225 50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 0 "D6" -322 0 0 1 22 0 R
X "PIN_TEXT" "D6" -225 0 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 100 "D4" -322 100 0 1 22 0 R
X "PIN_TEXT" "D4" -225 100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 200 "D2" -322 200 0 1 22 0 R
X "PIN_TEXT" "D2" -225 200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 150 "D3" -322 150 0 1 22 0 R
X "PIN_TEXT" "D3" -225 150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 250 "D1" -322 250 0 1 22 0 R
X "PIN_TEXT" "D1" -225 250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 300 "D0" -322 300 0 1 22 0 R
X "PIN_TEXT" "D0" -225 300 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 450 "AVCC1" -322 450 0 1 22 0 R
X "PIN_TEXT" "AVCC1" -225 450 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 400 "AVCC2" -322 400 0 1 22 0 R
X "PIN_TEXT" "AVCC2" -225 400 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 550 "VCC2" -322 550 0 1 22 0 R
X "PIN_TEXT" "VCC2" -225 550 0.00 0.00 44 0 0 0 0 0 1 0 0
C -300 600 "VCC1" -322 600 0 1 22 0 R
X "PIN_TEXT" "VCC1" -225 600 0.00 0.00 44 0 0 0 0 0 1 0 0
C 300 100 "AOUT" 322 100 0 1 22 0 L
X "PIN_TEXT" "AOUT" 225 100 0.00 0.00 44 0 0 2 0 0 1 0 0
L -250 650 -250 -650 -1 -2
L 250 650 250 -650 -1 -2
L -300 600 -250 600 -1 -2
L -300 550 -250 550 -1 -2
L -300 400 -250 400 -1 -2
L -300 450 -250 450 -1 -2
L -300 300 -250 300 -1 -2
L -300 250 -250 250 -1 -2
L -300 150 -250 150 -1 -2
L -300 200 -250 200 -1 -2
L -300 100 -250 100 -1 -2
L -300 50 -250 50 -1 -2
L -300 0 -250 0 -1 -2
L -225 -150 -250 -175 -1 16
L -250 -125 -225 -150 -1 16
L -300 -50 -250 -50 -1 -2
L -300 -150 -250 -150 -1 -2
L -300 -200 -250 -200 -1 -2
L -300 -250 -250 -250 -1 -2
L -300 -350 -250 -350 -1 -2
L -300 -450 -250 -450 -1 -2
L -300 -550 -250 -550 -1 -2
L -300 -600 -250 -600 -1 -2
L 300 100 250 100 -1 -2
L -250 650 250 650 -1 -2
L -250 -650 250 -650 -1 -2
T 0 675 0.00 0.00 44 0 0 1 0 7 0
TLC5602
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" 0 725 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PACK_TYPE" "?" 0 775 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 800 0.00 0.00 23 0 0 1 0 0 0 0 32
