P "CDS_LMAN_SYM_OUTLINE" "-125,25,125,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
P "HDL_TAP" "TRUE" 325 -125 0 0 41 0 0 0 0 0 0 0 32
P "PATH" "?" 75 -125 0 0 41 0 0 0 0 0 0 0 74
P "BODY_TYPE" "PLUMBING" 0 50 0 0 41 0 0 0 0 0 0 0 0
L 50 0 0 0 -1 74
C 50 0 "S" 100 0 0 1 41 0 L
X "BN" "?" 40 8 0 0 32 0 0 0 0 0 1 0 8
C 0 0 "B" -150 50 0 1 23 0 L


