M -3633 222 -3618 207 -1 75
M -3633 219 -3621 207 -1 75
M -3573 102 -3573 270 -1 75
M -3570 102 -3570 270 -1 75
M -3618 144 -3618 147 -1 75
M -3618 207 -3618 177 -1 75
M -3621 207 -3621 180 -1 75
M -3678 219 -3633 219 -1 75
M -3678 222 -3633 222 -1 75
M -3621 180 -3690 180 -1 75
M -3618 147 -3678 147 -1 75
M -3618 177 -3693 177 -1 75
M -3618 144 -3678 144 -1 75
M -3777 225 -3738 225 -1 75
M -3738 225 -3738 222 -1 75
M -3738 222 -3777 222 -1 75
M -3795 207 -3777 225 -1 75
M -3777 222 -3792 207 -1 75
M -3690 207 -3678 219 -1 75
M -3693 207 -3678 222 -1 75
M -3678 147 -3690 159 -1 75
M -3678 144 -3693 159 -1 75
M -3795 162 -3795 207 -1 75
M -3777 144 -3795 162 -1 75
M -3738 144 -3777 144 -1 75
M -3792 207 -3792 162 -1 75
M -3738 147 -3738 144 -1 75
M -3792 162 -3777 147 -1 75
M -3777 147 -3738 147 -1 75
M -3900 225 -3855 225 -1 75
M -3915 210 -3900 225 -1 75
M -3855 225 -3837 207 -1 75
M -3837 207 -3837 144 -1 75
M -3915 225 -3915 210 -1 75
M -3918 225 -3915 225 -1 75
M -3840 144 -3837 144 -1 75
M -3840 207 -3840 144 -1 75
M -3918 144 -3918 225 -1 75
M -3918 144 -3915 144 -1 75
M -3855 222 -3840 207 -1 75
M -3900 222 -3855 222 -1 75
M -3915 144 -3915 207 -1 75
M -3915 207 -3900 222 -1 75
M -4026 219 -3981 219 -1 75
M -4026 222 -3981 222 -1 75
M -3981 219 -3969 207 -1 75
M -4038 207 -4026 219 -1 75
M -3981 222 -3966 207 -1 75
M -4041 207 -4026 222 -1 75
M -3969 180 -4038 180 -1 75
M -3969 207 -3969 180 -1 75
M -4026 147 -4038 159 -1 75
M -3966 147 -4026 147 -1 75
M -3966 144 -3966 147 -1 75
M -3966 177 -4041 177 -1 75
M -3966 207 -3966 177 -1 75
M -3966 144 -4026 144 -1 75
M -4026 144 -4041 159 -1 75
M -4209 267 -3567 267 -1 75
M -4437 108 -3567 108 -1 75
M -4437 105 -3567 105 -1 75
M -4209 264 -3567 264 -1 75
M -4092 255 -4089 255 -1 75
M -4104 222 -4152 222 -1 75
M -4104 219 -4152 219 -1 75
M -4089 207 -4104 222 -1 75
M -4152 222 -4167 207 -1 75
M -4092 207 -4104 219 -1 75
M -4152 219 -4164 207 -1 75
M -4104 147 -4092 159 -1 75
M -4092 144 -4089 144 -1 75
M -4167 207 -4167 159 -1 75
M -4167 159 -4152 144 -1 75
M -4152 144 -4104 144 -1 75
M -4104 144 -4089 159 -1 75
M -4164 207 -4164 159 -1 75
M -4164 159 -4152 147 -1 75
M -4152 147 -4104 147 -1 75
M -4293 225 -4230 225 -1 75
M -4293 222 -4293 225 -1 75
M -4293 222 -4230 222 -1 75
M -4230 225 -4212 207 -1 75
M -4230 222 -4215 207 -1 75
M -4200 147 -4200 144 -1 75
M -4212 159 -4200 147 -1 75
M -4230 147 -4215 162 -1 75
M -4230 144 -4215 159 -1 75
M -4215 159 -4200 144 -1 75
M -4278 144 -4230 144 -1 75
M -4215 192 -4278 192 -1 75
M -4212 189 -4278 189 -1 75
M -4278 147 -4230 147 -1 75
M -4293 159 -4278 144 -1 75
M -4293 177 -4293 159 -1 75
M -4278 192 -4293 177 -1 75
M -4278 189 -4290 177 -1 75
M -4290 177 -4290 159 -1 75
M -4290 159 -4278 147 -1 75
M -4437 267 -4293 267 -1 75
M -4293 264 -4437 264 -1 75
M -4335 222 -4374 222 -1 75
M -4335 225 -4335 222 -1 75
M -4374 225 -4335 225 -1 75
M -4431 102 -4431 270 -1 75
M -4434 102 -4434 270 -1 75
M -4374 222 -4389 207 -1 75
M -4392 207 -4374 225 -1 75
M -4374 147 -4335 147 -1 75
M -4389 162 -4374 147 -1 75
M -4335 147 -4335 144 -1 75
M -4335 144 -4374 144 -1 75
M -4389 207 -4389 162 -1 75
M -4374 144 -4392 162 -1 75
M -4392 162 -4392 207 -1 75
M -4293 255 -4209 255 -1 75
M -4293 258 -4209 258 -1 75
M -4209 252 -4293 252 -1 75
M -3567 102 -4437 102 -1 75
M -4041 207 -4041 159 -1 75
M -3693 207 -3693 159 -1 75
M -4038 207 -4038 159 -1 75
M -3690 207 -3690 159 -1 75
M -4212 159 -4212 207 -1 75
M -4215 207 -4215 159 -1 75
M -4092 255 -4092 144 -1 75
M -4089 255 -4089 144 -1 75
M -4293 258 -4293 252 -1 75
M -4209 252 -4209 258 -1 75
M -4437 270 -4437 102 -1 75
M -4293 270 -4293 264 -1 75
M -4209 270 -4209 264 -1 75
M -3567 270 -3567 102 -1 75
M -4293 270 -4437 270 -1 75
M -3567 270 -4209 270 -1 75
M 125 -125 -8125 -125 -1 1
M 125 5125 -8125 5125 -1 1
M 0 5000 -8000 5000 -1 1
M -8000 5000 -8000 0 -1 1
M -8125 5125 -8125 -125 -1 1
M 125 5125 125 -125 -1 1
M 0 5000 0 0 -1 1
M 0 375 -8000 375 -1 1
M -2500 375 -2500 0 -1 1
M 0 0 -8000 0 -1 1
M -4000 -125 -4000 0 -1 1
L 120 5120 120 -120 -1 0
L -8005 5005 -8005 -5 -1 0
L -8120 5120 -8120 -120 -1 0
L 5 5005 -8005 5005 -1 0
L 120 5120 -8120 5120 -1 0
M 0 3875 125 3875 -1 1
M -8125 1625 -8000 1625 -1 1
M -8125 3875 -8000 3875 -1 1
M -8125 2750 -8000 2750 -1 1
M -7000 5125 -7000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -2000 5125 -2000 5000 -1 1
M -1000 5125 -1000 5000 -1 1
M -5000 0 -5000 -125 -1 1
M -6000 0 -6000 -125 -1 1
M -7000 0 -7000 -125 -1 1
M -4000 5000 -4000 5125 -1 1
M -5450 375 -5450 0 -1 1
M 0 1625 125 1625 -1 1
M 0 2750 125 2750 -1 1
M -3000 0 -3000 -125 -1 1
L -8005 -5 5 -5 -1 0
L 120 -120 -8120 -120 -1 0
L 5 5005 5 -5 -1 0
M -750 0 -750 375 -1 1
M -1000 0 -1000 -125 -1 1
M -2000 0 -2000 -125 -1 1
M 0 150 -2500 150 -1 1
T -7900 95 0.00 0.00 41 0 0 0 0 42 0
OFFICER OF CADENCE IS EXPRESSLY FORBIDDEN.
T -7900 235 0.00 0.00 41 0 0 0 0 43 0
TO  CADENCE DESIGN SYSTEMS INC (CADENCE).  
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -7900 165 0.00 0.00 41 0 0 0 0 50 0
OR DISCLOSURE WITHOUT THE WRITTEN PERMISSION OF AN
T -7900 305 0.00 0.00 41 0 0 0 0 50 0
THIS  DOCUMENT  CONTAINS  INFORMATION  PROPRIETARY
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T -700 325 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -700 100 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -2450 100 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -7900 25 0.00 0.00 41 0 0 0 0 21 0
COPYRIGHT (C) CADENCE
P "COMMENT_BODY" "TRUE" -1500 1500 0.00 0.00 41 0 0 0 0 0 0 0 0
