C 0 100 "V+" 0 122 0 1 22 1 L
X "PIN_TEXT" "V+" 25 25 0.00 0.00 22 0 0 2 0 0 1 0 0
C 50 100 "N1" 50 122 0 1 22 1 L
X "PIN_TEXT" "N1" 55 0 0.00 0.00 20 0 0 2 0 0 1 0 0
C 0 -100 "V-" 0 -122 0 1 22 1 R
X "PIN_TEXT" "V-" -25 -50 0.00 0.00 22 0 0 0 0 0 1 0 0
C 50 -100 "N2" 50 -122 0 1 22 1 R
X "PIN_TEXT" "N2" 15 -20 0.00 0.00 20 0 0 0 0 0 1 0 0
C -150 -50 "IN-" -172 -50 0 1 22 0 R
X "PIN_TEXT" "-" -75 -75 0.00 0.00 35 0 0 0 0 0 1 0 0
C -150 50 "IN+" -172 50 0 1 22 0 R
X "PIN_TEXT" "+" -75 25 0.00 0.00 35 0 0 0 0 0 1 0 0
C 150 0 "OUT" 172 0 0 1 22 0 L
L -100 100 100 0 -1 16
L -100 -100 -100 100 -1 16
L 100 0 -100 -100 -1 16
L 150 0 100 0 -1 -2
L -150 50 -100 50 -1 -2
L -150 -50 -100 -50 -1 -2
L 50 -100 50 -25 -1 -2
L 0 -100 0 -50 -1 -2
L 50 100 50 25 -1 -2
L 0 100 0 50 -1 -2
T 100 50 0.00 0.00 44 0 0 0 0 7 0
TLE2037
P "$LOCATION" "?" 100 100 0.00 0.00 46 0 0 0 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 100 -50 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PATH" "?" 100 -75 0.00 0.00 23 0 0 0 0 0 0 0 32
