C 0 -100 "A" -22 -100 0 1 22 0 R
X "$PN" "#" 25 -150 90.00 0.00 47 0 0 0 0 0 1 0 32
C 0 100 "B" -28 100 0 1 22 0 R
X "$PN" "#" 25 125 90.00 0.00 47 0 0 0 0 0 1 0 32
L 0 100 0 25 -1 16
L 25 -25 -25 -25 -1 16
L 0 -25 0 -100 -1 16
A 0 50 25 180.00 0.00 16
P "$LOCATION" "?" 50 25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "VALUE" "?" 50 -25 0.00 0.00 46 0 0 0 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "PATH" "?" 50 75 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PACK_TYPE" "?" 50 100 0.00 0.00 23 0 0 0 0 0 0 0 32
P "TOLERANCE" "?" 50 -75 0.00 0.00 46 0 0 0 0 0 1 0 32
