P "CDS_LMAN_SYM_OUTLINE" "-25,50,200,-50" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L 175 0 150 25 -1 0
L 150 25 25 25 -1 0
L 25 -25 150 -25 -1 0
L 150 -25 175 0 -1 0
L 184 0 153 31 -1 0
L 153 31 22 31 -1 0
L 22 -31 153 -31 -1 0
L 153 -31 184 0 -1 0
L 22 -31 -9 0 -1 0
L -9 0 22 31 -1 0
L 25 -25 0 0 -1 0
L 0 0 25 25 -1 0
P "COMMENT_BODY" "TRUE" -50 -100 0 0 41 0 0 0 0 0 0 0 0
P "OFFPAGE" "TRUE" 325 -125 0 0 41 0 0 0 0 0 0 0 32
L -50 0 0 0 -1 0
C -50 0 "A" -500 0 0 0 41 0 L
X "PIN_TEXT" "BI" 90 -20 0 0 41 0 0 1 0 0 1 0 0


