C -300 50 "A <17..0>" -322 50 0 1 22 0 R
X "PIN_TEXT" "A<17-0>" -225 50 0.00 0.00 22 0 0 0 0 0 1 0 0
C -300 -50 "WE*" -322 -50 0 1 22 0 R
X "PIN_TEXT" "WE*" -225 -50 0.00 0.00 22 0 0 0 0 0 1 0 0
C -300 -100 "CE*" -322 -100 0 1 22 0 R
X "PIN_TEXT" "CE*" -225 -100 0.00 0.00 22 0 0 0 0 0 1 0 0
C -300 -150 "EO*" -322 -150 0 1 22 0 R
X "PIN_TEXT" "EO*" -225 -150 0.00 0.00 22 0 0 0 0 0 1 0 0
C 300 50 "IO <3..1>" 322 50 0 1 22 0 L
X "PIN_TEXT" "IO<3-1>" 225 50 0.00 0.00 22 0 0 2 0 0 1 0 0
C 300 -50 "DQ <4..1>" 322 -50 0 1 22 0 L
X "PIN_TEXT" "DQ<4-1>" 225 -50 0.00 0.00 22 0 0 2 0 0 1 0 0
L -250 150 250 150 -1 -2
L -250 -200 250 -200 -1 -2
M 300 50 250 50 -1 -1
M 300 -50 250 -50 -1 -1
M -300 50 -250 50 -1 -1
L -250 150 -250 -200 -1 -2
L 250 -200 250 150 -1 -2
A -275 -150 25 0.00 359.91 0
A -275 -100 25 0.00 359.91 0
A -275 -50 25 0.00 359.91 0
T 0 100 0.00 0.00 22 0 0 1 0 9 0
TC55B4257
P "PATH" "?" 0 200 0.00 0.00 22 0 0 1 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" 0 225 0.00 0.00 22 0 0 1 0 0 0 0 0
P "$LOCATION" "?" 0 175 0.00 0.00 22 0 0 1 0 0 1 0 0
