C 0 -50 "A" -25 -100 0 1 41 0 L
X "HDL_PORT" "IN" 275 -175 0.00 0.00 41 0 0 0 0 0 0 0 32
X "VHDL_PORT" "IN" 15 -120 0.00 0.00 41 0 0 0 0 0 0 0 80
L 0 -50 0 0 -1 16
A 0 25 25 0.00 359.91 16
T -15 5 0.00 0.00 41 0 0 0 0 1 82
I
P "PATH" "?" -50 -25 90.00 0.00 41 0 0 0 0 0 0 0 80
