C 50 -50 "$PIN0" 55 -65 0 1 15 0 L
L 75 0 25 0 -1 0
L 50 0 50 -50 -1 0
T -15 10 0.00 0.00 31 0 0 0 0 4 0
V+12
P "VOLTAGE" "+12V" 25 100 0.00 0.00 47 0 0 0 0 0 0 0 32
P "HDL_POWER" "V+12" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
P "BODY_TYPE" "PLUMBING" -45 -43 0.00 0.00 16 0 0 0 0 0 0 0 0
P "PATH" "?" 50 -125 0.00 0.00 46 0 0 0 0 0 0 0 32
