M 125 5125 -8125 5125 -1 1
M 125 5125 125 -125 -1 1
M -8125 5125 -8125 -125 -1 1
M 125 -125 -8125 -125 -1 1
M 0 5000 -8000 5000 -1 1
M 0 5000 0 0 -1 1
M -8000 5000 -8000 0 -1 1
M 0 0 -8000 0 -1 1
M -7950 4950 -50 4950 -1 17
M -7950 4950 -7950 4800 -1 17
M -50 4800 -50 4950 -1 17
M -50 4800 -7950 4800 -1 17
M -4050 4950 -4050 4800 -1 17
L 120 5120 -8120 5120 -1 0
L 120 5120 120 -120 -1 0
L -8120 5120 -8120 -120 -1 0
L 120 -120 -8120 -120 -1 0
M -2500 375 0 375 -1 1
M -2500 375 -2500 0 -1 1
M 0 150 -2500 150 -1 1
M -750 0 -750 375 -1 1
M -6000 0 -6000 -125 -1 1
M -5000 0 -5000 -125 -1 1
M -4000 -125 -4000 0 -1 1
M -7000 0 -7000 -125 -1 1
M -1000 0 -1000 -125 -1 1
M -2000 0 -2000 -125 -1 1
M -3000 0 -3000 -125 -1 1
M -8125 3875 -8000 3875 -1 1
M -8125 2750 -8000 2750 -1 1
M -8125 1625 -8000 1625 -1 1
M 0 3875 125 3875 -1 1
M 0 1625 125 1625 -1 1
M 0 2750 125 2750 -1 1
M -4000 5000 -4000 5125 -1 1
M -1000 5125 -1000 5000 -1 1
M -2000 5125 -2000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -7000 5125 -7000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
L -8005 -5 5 -5 -1 0
L -8005 5005 -8005 -5 -1 0
L 5 5005 5 -5 -1 0
L 5 5005 -8005 5005 -1 0
T -7025 4850 0.00 0.00 48 0 0 0 0 9 82
PAGE NAME
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -2465 105 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -715 320 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -2480 320 0.00 0.00 41 0 0 0 0 6 0
TITLE:
T -715 95 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -5225 4850 0.00 0.00 48 0 0 0 0 11 82
DESIGN NAME
T -3975 4850 0.00 0.00 48 0 0 0 0 9 82
SHEET NO.
T -3325 4850 0.00 0.00 48 0 0 0 0 9 82
PAGE NAME
T -1275 4850 0.00 0.00 48 0 0 0 0 11 82
DESIGN NAME
T -7700 4850 0.00 0.00 48 0 0 0 0 9 82
SHEET NO.
P "CUSTOM_TXT_CDS" "<CON_TC_SNM1>" -7025 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM4>" -5225 3950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO20>" -3975 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM2>" -5225 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO1>" -7700 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO2>" -7700 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM2>" -7025 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO3>" -7700 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_DESIGN_NAME>" -2165 224 0.00 0.00 74 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CURRENT_DESIGN_SHEET> OF <TOTAL_DESIGN_SHEETS>" -485 42 0.00 0.00 38 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CON_TC_BNM10>" -5225 2450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM6>" -5225 3450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM20>" -3325 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM3>" -5225 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM5>" -7025 3700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM6>" -7025 3450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM4>" -7025 3950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM11>" -5225 2200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM12>" -5225 1950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM8>" -7025 2950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO8>" -7700 2950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM12>" -7025 1950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM13>" -7025 1700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM14>" -7025 1450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM15>" -7025 1200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM16>" -7025 950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM17>" -7025 700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO17>" -7700 700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO16>" -7700 950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO15>" -7700 1200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO14>" -7700 1450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO13>" -7700 1700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO12>" -7700 1950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO9>" -7700 2700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO11>" -7700 2200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO6>" -7700 3450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO10>" -7700 2450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO5>" -7700 3700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO4>" -7700 3950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM7>" -7025 3200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM11>" -7025 2200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM10>" -7025 2450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM9>" -7025 2700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM9>" -5225 2700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM13>" -5225 1700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM14>" -5225 1450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM15>" -5225 1200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM16>" -5225 950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM17>" -5225 700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO18>" -3975 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM18>" -3325 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM19>" -3325 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM20>" -1275 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM19>" -1275 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM18>" -1275 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO7>" -7700 3200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM1>" -5225 4700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNO19>" -3975 4450 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM5>" -5225 3700 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM8>" -5225 2950 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_BNM7>" -5225 3200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "CUSTOM_TXT_CDS" "<CON_TC_SNM3>" -7025 4200 0.00 0.00 48 0 0 0 0 0 1 0 64
P "COMMENT_BODY" "TRUE" -1825 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
P "TOC_SYMBOL" "TRUE" -625 -100 0.00 0.00 48 0 0 0 0 1 1 0 32
