C 250 -100 "Q7" 272 -100 0 1 22 0 L
X "PIN_TEXT" "Q7" 175 -100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 -50 "Q6" 272 -50 0 1 22 0 L
X "PIN_TEXT" "Q6" 175 -50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 0 "Q5" 272 0 0 1 22 0 L
X "PIN_TEXT" "Q5" 175 0 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 50 "Q4" 272 50 0 1 22 0 L
X "PIN_TEXT" "Q4" 175 50 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 100 "Q3" 272 100 0 1 22 0 L
X "PIN_TEXT" "Q3" 175 100 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 150 "Q2" 272 150 0 1 22 0 L
X "PIN_TEXT" "Q2" 175 150 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 200 "Q1" 272 200 0 1 22 0 L
X "PIN_TEXT" "Q1" 175 200 0.00 0.00 44 0 0 2 0 0 1 0 0
C 250 250 "Q0" 272 250 0 1 22 0 L
X "PIN_TEXT" "Q0" 175 250 0.00 0.00 44 0 0 2 0 0 1 0 0
C -250 -200 "CLK" -272 -200 0 1 22 0 R
X "PIN_TEXT" "CLK" -175 -200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -250 "OE" -272 -250 0 1 22 0 R
X "PIN_TEXT" "OE" -175 -250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 250 "D0" -272 250 0 1 22 0 R
X "PIN_TEXT" "D0" -175 250 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 200 "D1" -272 200 0 1 22 0 R
X "PIN_TEXT" "D1" -175 200 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 150 "D2" -272 150 0 1 22 0 R
X "PIN_TEXT" "D2" -175 150 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 100 "D3" -272 100 0 1 22 0 R
X "PIN_TEXT" "D3" -175 100 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 50 "D4" -272 50 0 1 22 0 R
X "PIN_TEXT" "D4" -175 50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 0 "D5" -272 0 0 1 22 0 R
X "PIN_TEXT" "D5" -175 0 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -50 "D6" -272 -50 0 1 22 0 R
X "PIN_TEXT" "D6" -175 -50 0.00 0.00 44 0 0 0 0 0 1 0 0
C -250 -100 "D7" -272 -100 0 1 22 0 R
X "PIN_TEXT" "D7" -175 -100 0.00 0.00 44 0 0 0 0 0 1 0 0
L -200 300 -200 -300 -1 -2
L 200 300 200 -300 -1 -2
L -250 250 -200 250 -1 -2
L -250 200 -200 200 -1 -2
L -250 150 -200 150 -1 -2
L -250 100 -200 100 -1 -2
L -250 50 -200 50 -1 -2
L -250 0 -200 0 -1 -2
L -250 -200 -200 -200 -1 -2
L -250 -50 -200 -50 -1 -2
L -250 -100 -200 -100 -1 -2
L 250 250 200 250 -1 -2
L 250 200 200 200 -1 -2
L 250 150 200 150 -1 -2
L 250 100 200 100 -1 -2
L 250 50 200 50 -1 -2
L 250 0 200 0 -1 -2
L 250 -50 200 -50 -1 -2
L 250 -100 200 -100 -1 -2
L -200 300 200 300 -1 -2
L -200 -300 200 -300 -1 -2
A -225 -250 25 0.00 359.91 16
T 0 325 0.00 0.00 44 0 0 1 0 6 0
ACT574
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" 0 375 0.00 0.00 46 0 0 1 0 0 1 0 32
P "PACK_TYPE" "?" 0 425 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 450 0.00 0.00 23 0 0 1 0 0 0 0 32
