C 0 50 "$PIN0" 30 40 0 1 15 0 L
L 0 50 0 0 -1 16
L 0 0 -25 -50 -1 0
L 50 0 -50 0 -1 0
L 50 0 25 -50 -1 0
L -75 -50 -50 0 -1 0
P "VOLTAGE" "0V" 25 100 0.00 0.00 47 0 0 0 0 0 0 0 32
P "PATH" "?" 100 0 0.00 0.00 46 0 0 0 0 0 0 0 32
P "BODY_TYPE" "PLUMBING" 0 150 0.00 0.00 46 0 0 0 0 0 0 0 32
P "HDL_POWER" "GND_EARTH" 0 -150 0.00 0.00 46 0 0 0 0 0 0 0 32
