M -3627 231 -3612 216 -1 75
M -3627 228 -3615 216 -1 75
M -3567 111 -3567 279 -1 75
M -3564 111 -3564 279 -1 75
M -3612 153 -3612 156 -1 75
M -3612 216 -3612 186 -1 75
M -3615 216 -3615 189 -1 75
M -3672 228 -3627 228 -1 75
M -3672 231 -3627 231 -1 75
M -3615 189 -3684 189 -1 75
M -3612 156 -3672 156 -1 75
M -3612 186 -3687 186 -1 75
M -3612 153 -3672 153 -1 75
M -3771 234 -3732 234 -1 75
M -3732 234 -3732 231 -1 75
M -3732 231 -3771 231 -1 75
M -3789 216 -3771 234 -1 75
M -3771 231 -3786 216 -1 75
M -3684 216 -3672 228 -1 75
M -3687 216 -3672 231 -1 75
M -3672 156 -3684 168 -1 75
M -3672 153 -3687 168 -1 75
M -3789 171 -3789 216 -1 75
M -3771 153 -3789 171 -1 75
M -3732 153 -3771 153 -1 75
M -3786 216 -3786 171 -1 75
M -3732 156 -3732 153 -1 75
M -3786 171 -3771 156 -1 75
M -3771 156 -3732 156 -1 75
M -3894 234 -3849 234 -1 75
M -3909 219 -3894 234 -1 75
M -3849 234 -3831 216 -1 75
M -3831 216 -3831 153 -1 75
M -3909 234 -3909 219 -1 75
M -3912 234 -3909 234 -1 75
M -3834 153 -3831 153 -1 75
M -3834 216 -3834 153 -1 75
M -3912 153 -3912 234 -1 75
M -3912 153 -3909 153 -1 75
M -3849 231 -3834 216 -1 75
M -3894 231 -3849 231 -1 75
M -3909 153 -3909 216 -1 75
M -3909 216 -3894 231 -1 75
M -4020 228 -3975 228 -1 75
M -4020 231 -3975 231 -1 75
M -3975 228 -3963 216 -1 75
M -4032 216 -4020 228 -1 75
M -3975 231 -3960 216 -1 75
M -4035 216 -4020 231 -1 75
M -3963 189 -4032 189 -1 75
M -3963 216 -3963 189 -1 75
M -4020 156 -4032 168 -1 75
M -3960 156 -4020 156 -1 75
M -3960 153 -3960 156 -1 75
M -3960 186 -4035 186 -1 75
M -3960 216 -3960 186 -1 75
M -3960 153 -4020 153 -1 75
M -4020 153 -4035 168 -1 75
M -4203 276 -3561 276 -1 75
M -4431 117 -3561 117 -1 75
M -4431 114 -3561 114 -1 75
M -4203 273 -3561 273 -1 75
M -4086 264 -4083 264 -1 75
M -4098 231 -4146 231 -1 75
M -4098 228 -4146 228 -1 75
M -4083 216 -4098 231 -1 75
M -4146 231 -4161 216 -1 75
M -4086 216 -4098 228 -1 75
M -4146 228 -4158 216 -1 75
M -4098 156 -4086 168 -1 75
M -4086 153 -4083 153 -1 75
M -4161 216 -4161 168 -1 75
M -4161 168 -4146 153 -1 75
M -4146 153 -4098 153 -1 75
M -4098 153 -4083 168 -1 75
M -4158 216 -4158 168 -1 75
M -4158 168 -4146 156 -1 75
M -4146 156 -4098 156 -1 75
M -4287 234 -4224 234 -1 75
M -4287 231 -4287 234 -1 75
M -4287 231 -4224 231 -1 75
M -4224 234 -4206 216 -1 75
M -4224 231 -4209 216 -1 75
M -4194 156 -4194 153 -1 75
M -4206 168 -4194 156 -1 75
M -4224 156 -4209 171 -1 75
M -4224 153 -4209 168 -1 75
M -4209 168 -4194 153 -1 75
M -4272 153 -4224 153 -1 75
M -4209 201 -4272 201 -1 75
M -4206 198 -4272 198 -1 75
M -4272 156 -4224 156 -1 75
M -4287 168 -4272 153 -1 75
M -4287 186 -4287 168 -1 75
M -4272 201 -4287 186 -1 75
M -4272 198 -4284 186 -1 75
M -4284 186 -4284 168 -1 75
M -4284 168 -4272 156 -1 75
M -4431 276 -4287 276 -1 75
M -4287 273 -4431 273 -1 75
M -4329 231 -4368 231 -1 75
M -4329 234 -4329 231 -1 75
M -4368 234 -4329 234 -1 75
M -4425 111 -4425 279 -1 75
M -4428 111 -4428 279 -1 75
M -4368 231 -4383 216 -1 75
M -4386 216 -4368 234 -1 75
M -4368 156 -4329 156 -1 75
M -4383 171 -4368 156 -1 75
M -4329 156 -4329 153 -1 75
M -4329 153 -4368 153 -1 75
M -4383 216 -4383 171 -1 75
M -4368 153 -4386 171 -1 75
M -4386 171 -4386 216 -1 75
M -4287 264 -4203 264 -1 75
M -4287 267 -4203 267 -1 75
M -4203 261 -4287 261 -1 75
M -3561 111 -4431 111 -1 75
M -4035 216 -4035 168 -1 75
M -3687 216 -3687 168 -1 75
M -4032 216 -4032 168 -1 75
M -3684 216 -3684 168 -1 75
M -4206 168 -4206 216 -1 75
M -4209 216 -4209 168 -1 75
M -4086 264 -4086 153 -1 75
M -4083 264 -4083 153 -1 75
M -4287 267 -4287 261 -1 75
M -4203 261 -4203 267 -1 75
M -4431 279 -4431 111 -1 75
M -4287 279 -4287 273 -1 75
M -4203 279 -4203 273 -1 75
M -3561 279 -3561 111 -1 75
M -4287 279 -4431 279 -1 75
M -3561 279 -4203 279 -1 75
M 125 -125 -8125 -125 -1 1
M 125 5125 -8125 5125 -1 1
M 0 5000 -8000 5000 -1 1
M -8000 5000 -8000 0 -1 1
M -8125 5125 -8125 -125 -1 1
M 125 5125 125 -125 -1 1
M 0 5000 0 0 -1 1
M 0 375 -8000 375 -1 1
M -2500 0 -2500 375 -1 1
M 0 0 -8000 0 -1 1
M -3000 0 -3000 -125 -1 1
M -5000 0 -5000 -125 -1 1
M -5450 375 -5450 0 -1 1
M 0 150 -2500 150 -1 1
L 5 5005 -8005 5005 -1 0
L 120 5120 -8120 5120 -1 0
M -2000 5125 -2000 5000 -1 1
M 0 3875 125 3875 -1 1
M -8125 3875 -8000 3875 -1 1
M -7000 5125 -7000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -1000 5125 -1000 5000 -1 1
M -4000 5000 -4000 5125 -1 1
M 0 1625 125 1625 -1 1
M 0 2750 125 2750 -1 1
M -2000 0 -2000 -125 -1 1
L -8005 5005 -8005 -5 -1 0
L -8120 5120 -8120 -120 -1 0
M -8125 1625 -8000 1625 -1 1
M -8125 2750 -8000 2750 -1 1
M -6000 0 -6000 -125 -1 1
M -7000 0 -7000 -125 -1 1
L 120 5120 120 -120 -1 0
L 5 5005 5 -5 -1 0
M -750 0 -750 375 -1 1
M -1000 0 -1000 -125 -1 1
M -4000 -125 -4000 0 -1 1
L -8005 -5 5 -5 -1 0
L 120 -120 -8120 -120 -1 0
T -7900 95 0.00 0.00 41 0 0 0 0 42 0
OFFICER OF CADENCE IS EXPRESSLY FORBIDDEN.
T -7900 235 0.00 0.00 41 0 0 0 0 46 0
TO  CADENCE DESIGN SYSTEMS INC (CADENCE).  USE
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -2465 105 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -2480 320 0.00 0.00 41 0 0 0 0 6 0
TITLE:
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -7900 165 0.00 0.00 41 0 0 0 0 50 0
OR DISCLOSURE WITHOUT THE WRITTEN PERMISSION OF AN
T -7900 305 0.00 0.00 41 0 0 0 0 50 0
THIS  DOCUMENT  CONTAINS  INFORMATION  PROPRIETARY
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -715 320 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -715 95 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -7900 25 0.00 0.00 41 0 0 0 0 21 0
COPYRIGHT (C) CADENCE
P "COMMENT_BODY" "TRUE" -1500 1500 0.00 0.00 41 0 0 0 0 0 0 0 0
