C -100 -50 "AGND1" -100 -72 0 1 22 1 R
C -50 -50 "AGND2" -50 -72 0 1 22 1 R
C 50 -50 "AGND3" 50 -72 0 1 22 1 R
C 100 -50 "AGND4" 100 -72 0 1 22 1 R
C -50 50 "CENTER" -72 50 0 1 22 0 R
M -50 0 -50 -50 -1 17
M 100 0 -100 0 -1 17
M 100 0 100 -50 -1 17
M -100 0 -100 -50 -1 17
M 0 25 0 0 -1 17
M 50 0 50 -50 -1 17
L -25 50 -50 50 -1 16
A 0 50 25 0.00 359.91 16
P "PATH" "?" 0 175 0.00 0.00 23 0 0 1 0 0 0 0 32
P "PACK_TYPE" "?" 0 150 0.00 0.00 23 0 0 1 0 0 0 0 32
P "LOCATION" "?" 0 100 0.00 0.00 46 0 0 1 0 0 1 0 32
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 22 0 0 0 0 0 0 0 0
